/*
-T ---
*/

.ab-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.ab-left {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 0;
}

.ab-right {
  display: flex;
  gap: 8px;
  align-items: center;
}